@media (max-width: 767px) {
	html {
    	height: auto;
	}
	body {
	    min-height: 100%;	
	}


}
@media (min-width: 768px) and (max-width: 991px) {	

	.navbar-header {
		float: none;
	}
	.navbar-left,.navbar-right {
		float: none !important;
	}
	.navbar-toggle {
		display: block;
	}
	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	}
	.navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
	.navbar-collapse.collapse {
		display: none !important;
	}
	.navbar-nav {
		float: none !important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
		float: none;
	}
	.navbar-nav>li>a {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.collapse.in {
		display: block !important;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {		
	
	.navbar-header {
		float: none;
	}
	.navbar-left,.navbar-right {
		float: none !important;
	}
	.navbar-toggle {
		display: block;
	}
	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	}
	.navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
	.navbar-collapse.collapse {
		display: none !important;
	}
	.navbar-nav {
		float: none !important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
		float: none;
	}
	.navbar-nav>li>a {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.collapse.in {
		display: block !important;
	}
	
	.headContact, .headButt, .headSeach {
		margin-left: 0;
	}
	
	.navbar-toggle .icon-bar {
		width: 30px;
		height: 3px;
	}
	.navbar-toggle {
		margin-right: 95px;
		margin-top: 35px;
	}
	.mainMenu {
		margin: 10px 0 0 0;
	}
	.mainMenu ul li {
		display: block;
		margin: 10px 21% !important;
	}
	.slider h1:first-child {
		width: 86%
	}
	.slider h1 {
		font-size: 32px;
	}
	.col1_ing, .col2_ing {
		width: 50px;
		height: 50px;
	}
	.col1, .col2 {
		margin: 20px 0px 0px 0px;
		padding: 0px 10px;
		width: 165px;
	}
	.col2_ing {
		background-position: -77px;
	}
	.informat {
		left: 8.8%;
	}
	.polInformRow p {
		margin-left: 70px;
		font-size: 13px;
	}
	.avto1, .avto2, .avto3 {
		height: 265px;
	}
	.arrTop {
		left: 105%;
	}
	
}
@media (min-width: 1200px) {	
	.arrTop {
		left: 107%;
	}
}