
@media ( max-width: 648px) {
	.navbar-collapse.in {
		width: 100%;
	}
	.topLine h5 {
		line-height: 20px;
		font-size: 12px;
		text-align: left;
	}
	.topLine ul li {
		line-height: 20px;
	}
	.topLine ul li a {
		font-size: 12px;
	}
	.headLogo {
		height: 80px;
	}
	.headContact, .headButt, .headSeach {
		margin-left: 0;
	}
	.mainMenu {
		margin: 10px 0 0 0;
	}
	.mainMenu ul li {
		display: block;
		margin: 13px 0 !important;
	}
	.topLine ul li {
		margin-left: 5px;
	}
	.headContact {
		margin: 0;
		height: 63px;
		font-size: 14px;
		text-transform: none;
		
	}
	.headSeach {
		width: auto;
	}
	.headSeach img {
		margin: 0 15px;
		float: none;
		width: 60px !important;
		height: 20px !important;
	}
	.slider h1:first-child {
		width: auto;
	}
	.slider h1 {
		font-size: 17px;
	}
	.resultCol {
		bottom: auto;
		left: auto;
		height: 550px;
	}
	.col1_ing, .col2_ing {
		height: 47px;
		width: 50px;
	}
	.col2_ing {
		background-position: -71px;
	}
	.resultCol .buttonOrang {
		margin-left: 10%;
	}
	.calculator {
		background-image: none;
	}
	.uslug {
		width: auto;
		padding:5px;		
	}
	.polinfdesc {
		visibility: hidden;
	}
	.informat {
		left: auto;
	}
	.rows {
		width: 100%;
	}
	.polInformRow {
		width: 120%;
	}
	.rows {
		width: 90%;
	}
	.polInformRow {
		width: 100%;
		height: auto;
		padding: 5px;
	}
	.polInformImg1, .polInformImg2, .polInformImg3, .polInformImg4, .polInformImg5, .polInformImg6 {
		display: none;
	}
	.polInformRow p {
		margin: auto;
		line-height: 1.5;
	}
	.avto1, .avto2, .avto3 {
		height: 189px;
	}
	.butAllNews {
		margin: 20px 0 30px 5%;
	}
	.footCol11 {
		margin-bottom: 20px;
	}
	.footCol12 {
		margin-bottom: 20px;
		float: none;
	}
}
	
@media ( max-width: 568px) {
	.resultCol {
		height: 385px;
	}
	.resultCol .buttonOrang {
		margin-left: 27%;
	}
	.uslug {
		height: auto;
		margin-bottom: 10px;
	}
	.rows {
		width: 135%;
	}
	.polinfdesc{
		height: 345px;
	}
	.avto1, .avto2, .avto3 {
		height: 400px;
	}
	.butAllNews {
		margin: 20px 0 30px 30%;
	}
	.footCol11 {
		margin-bottom: 20px;
		margin-right: 20px;
	}
}

@media ( max-width: 415px) {
	.avto1, .avto2, .avto3 {
		height: 270px;
	}
}

@media ( max-width: 376px) {
	.avto1, .avto2, .avto3 {
		height: 237px;
	}
	.rows {
		width: 95%;
	}
	.polinfdesc {
		height: 410px;
	}
	.resultCol .buttonOrang {
		margin-left: 15%;
	}
	.butAllNews {
		margin: 20px 0 30px 14%;
	}
}
@media ( max-width: 321px) {
	.avto1, .avto2, .avto3 {
		height: 189px;
	}
	.polinfdesc {
		height: 450px;
	}
	.butAllNews {
		margin: 20px 0 30px 5%;
	}
	.resultCol {
		height: 550px;
	}
	.resultCol .buttonOrang {
		margin-left: 8%;
	}
}

@media (min-width: 649px) and ( max-width: 767px) {
	html {
    	height: auto;
	}
	body {
	    min-height: 100%;	
	}
	.headLogo {
		height: 72px;
	}
	.headContact, .headButt, .headSeach {
		margin-left: 0;
	}
	.mainMenu {
		margin: 10px 0 0 0;
	}
	.mainMenu ul li {
		display: block;
		margin: 13px 0 !important;
	}
	.topLine ul li {
		margin-left: 5px;
	}
	.slider h1 {
		font-size: 23px
	}
	.resultCol {
		top: 0;
		left: 0;
	}
	.col1, .col2 {
		margin: 20px 5px 0px 60px;
		width: 200px;
	}
	.calculator {
		background-image: none;
	}
	.resultCol .buttonOrang {
		margin-left: 39%;
	}

	.resultCol .buttonOrang {
		margin-left: 33%;
	}
	.polinfdesc {
		visibility: hidden;
	}
	.informat {
		left: auto;
	}
	.rows {
		width: 100%;
	}
	.polInformRow {
		width: 120%;
	}
	.avto1, .avto2, .avto3 {
		height: 134px;
	}
	.butAllNews {
		margin: 30px 0 30px 35%;
	}
	#imaginary_container {
		margin-bottom: 30px;
	}
	.arrTop {
		left: 105%;
	}
	.footCol11 {
		width: 57%;
	}
	.footCol22 {
		float: left;
		margin-left: 30px;
	}
	.footCol5 {
		margin-top: 0px;
		margin-bottom: 20px;
	}
	.footCol5 ul {
		display: inline-flex;
	}
	.footCol5 ul li {
		margin-right: 15px;
		letter-spacing: 1px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {	

	.navbar-header {
		float: none;
	}
	.navbar-left,.navbar-right {
		float: none !important;
	}
	.navbar-toggle {
		display: block;
	}
	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	}
	.navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
	.navbar-collapse.collapse {
		display: none !important;
	}
	.navbar-nav {
		float: none !important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
		float: none;
	}
	.navbar-nav>li>a {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.collapse.in {
		display: block !important;
	}
	
	.headContact, .headButt, .headSeach {
		margin-left: 0;
	}
	.mainMenu {
		margin: 10px 0 0 0;
	}
	.mainMenu ul li {
		display: block;
		margin: 13px 21% !important;
	}
	.slider h1 {
		font-size: 30px;
	}
	.resultCol {
		top: 0;
		left: 0;
	}
	.col1, .col2 {
		margin: 20px 5px 0px 60px;
		width: 285px;
	}
	.resultCol .buttonOrang {
		margin-left: 39%;
	}
	.polinfdesc {
		visibility: hidden;
	}
	.rows {
		width: 150%;
	}
	.informat {
		left: 7.8%;
	}
	.polInformRow {
		width: 100%;
	}
	.avto1, .avto2, .avto3 {
		height: 177px;
	}
	.butAllNews {
		margin: 30px 0 30px 35%;
	}
	.arrTop {
		left: 105%;
	}
	.footCol22 {
		float: left;
		margin-left: 30px;
	}
	.footCol5 ul {
		display: inline-flex;
	}
	.footCol5 ul li {
		margin-right: 15px;
		letter-spacing: 1px;
	}
	.footCol5 {
		margin-top: 0;
		margin-bottom: 20px;
	}
	.container-fluid {
		padding-left: 5px;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {		
	
	.navbar-header {
		float: none;
	}
	.navbar-left,.navbar-right {
		float: none !important;
	}
	.navbar-toggle {
		display: block;
	}
	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	}
	.navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
	.navbar-collapse.collapse {
		display: none !important;
	}
	.navbar-nav {
		float: none !important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
		float: none;
	}
	.navbar-nav>li>a {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.collapse.in {
		display: block !important;
	}
	
	.headContact, .headButt, .headSeach {
		margin-left: 0;
	}
	
	.navbar-toggle .icon-bar {
		width: 30px;
		height: 3px;
	}
	.navbar-toggle {
		margin-right: 95px;
		margin-top: 35px;
	}
	.mainMenu {
		margin: 10px 0 0 0;
	}
	.mainMenu ul li {
		display: block;
		margin: 10px 21% !important;
	}
	.slider h1:first-child {
		width: 86%
	}
	.slider h1 {
		font-size: 32px;
	}
	.col1_ing, .col2_ing {
		width: 50px;
		height: 50px;
	}
	.col1, .col2 {
		margin: 20px 0px 0px 0px;
		padding: 0px 10px;
		width: 165px;
	}
	.col2_ing {
		background-position: -77px;
	}
	.informat {
		left: 8.8%;
	}
	.polInformRow p {
		margin-left: 70px;
		font-size: 13px;
	}
	.avto1, .avto2, .avto3 {
		height: 239px;
	}
	.arrTop {
		left: 105%;
	}
	
}
@media (min-width: 1200px) {	
	.arrTop {
		left: 107%;
	}
}